[run]
branch = True
include = */pele/*
source  = pele
omit = 
 */pele/gui/*
 *_quench_obsolete*
 */nebtesting/*
 */concurrent/*
 */tests/*
 */test_functions/*
[report]
exclude_lines = 
  pragma: no cover
  if __name__ == .__main__.:
  def draw.self
  def load_coords_pymol.self
  if False
