*~
*.pyc
*.setup
*.so
*.o
*.mod
*.xyz
lowest
*neb.EofS*
*.bundle
build
.settings
.pydevproject
.project
*.pyo
*.db
*.png
!pele/gui/ui/icons/*.png
*.eps
*.ps
*.log
*.html
pele/*/*cxx
cpp_tests/build

CMakeLists.txt

examples/new_potential/cpp_potential/mypotential.cpp
examples/new_potential/cython_potential/mypotential.c
pele/obsolete/rigid_bodies/_rbutils_cython.c
pele/optimize/_cython_lbfgs.c
pele/optimize/_lbfgs_cpp.cxx
pele/potentials/_cython_tools.c
pele/potentials/_lj_cpp.cxx
pele/potentials/_morse_cpp.cxx
pele/potentials/_pele.cxx
pele/potentials/_pythonpotential.cxx
pele/version.py
_ngt_cpp.cxx
.coverage
htmlcov
**/charmap.json.gz

/.cache/
/.clangd/
/.cmake/
/.dir-locals.el
/.idea/
/.vscode/*.log
/Makefile
/compile_commands.json

# Coverage files
*.coverage
coverage.xml
coverage.info
htmlcov/
.coverage.*
cpp_tests/source/lib/libgmock_main.a
cpp_tests/source/lib/libgmock.a
cpp_tests/source/lib/libgtest_main.a
cpp_tests/source/lib/libgtest.a
cpp_tests/source/coverage*
/cpp_tests/source/.cache/
/cpp_tests/source/CMakeCache.txt
/cpp_tests/source/CMakeFiles/
/cpp_tests/source/Makefile
/cpp_tests/source/.CMakeLists.txt.swp
/cpp_tests/source/benchmarks/CMakeFiles/
/cpp_tests/source/benchmarks/Makefile
/cpp_tests/source/benchmarks/bench_cell_lists
/cpp_tests/source/benchmarks/bench_cell_lists_alt
/cpp_tests/source/benchmarks/bench_lj
/cpp_tests/source/benchmarks/bench_minimization
/cpp_tests/source/benchmarks/cmake_install.cmake
/cpp_tests/source/cmake_install.cmake
/cpp_tests/source/compile_commands.json
/cpp_tests/source/dense.out
/cpp_tests/source/dense.vals
/cpp_tests/source/*.txt
/cpp_tests/source/googletest/
/cpp_tests/source/libpele_lib.a
/source/Eigen/
/source/Spectra/
/source/autodiff/
/source/dense.csv
/source/header.zip
/source/main.py
/source/pele/Eigen/
cpp_tests/source/test_main
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/out.txt


# Extern files
extern/install


# trajectory files
**/trajectory*.txt
**/time*.txt
*.egg-info/
dist/
bin/act

**/*.sqlite

**/cython_debug/