*~
*.pyc
*.setup
*.so
*.o
*.mod
*.xyz
lowest
*neb.EofS*
*.bundle
build
.settings
.pydevproject
.project
*.sqlite
*.pyo
*.db
*.png
*.eps
*.ps
*.log
*.html
pele/*/*cxx
cpp_tests/build
cpp_tests/gtest

cythonize.dat
examples/new_potential/cpp_potential/mypotential.cpp
examples/new_potential/cython_potential/mypotential.c
pele/obsolete/rigid_bodies/_rbutils_cython.c
pele/optimize/_cython_lbfgs.c
pele/optimize/_lbfgs_cpp.cxx
pele/potentials/_cython_tools.c
pele/potentials/_lj_cpp.cxx
pele/potentials/_morse_cpp.cxx
pele/potentials/_pele.cxx
pele/potentials/_pythonpotential.cxx
pele/version.py
_ngt_cpp.cxx
.coverage
htmlcov
