language: python
python:
    - 2.7

virtualenv:
  system_site_packages: true

before_install:
  # Use miniconda and conda packages to speed up dependency setup (principally 
  # borrowed from https://gist.github.com/dan-blanchard/7045057
  # and https://github.com/Jorge-C/ordination/blob/master/.travis.yml
  - sudo apt-get update -qq
  - sudo apt-get install -qq libatlas-dev libatlas-base-dev liblapack-dev gfortran python-qt4 python-opengl python-qt4-gl
  - wget http://repo.continuum.io/miniconda/Miniconda-2.2.2-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/anaconda/bin:$PATH
  # Update conda itself
  - conda update --yes conda
  # matplotlib needs a DISPLAY
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"


install:
  - conda create --yes -n env_name python=$TRAVIS_PYTHON_VERSION pip cython numpy scipy matplotlib
  - source activate env_name
  - pip install nose networkx sqlalchemy hungarian pyro4 brewer2mpl
  - python setup.py build --fcompiler=gfortran
  - python setup.py install

script:
  - nosetests pele
